#lb_keywords {
  grid-area: a;
}
#in_keywords {
  grid-area: b;
}
#lb_location {
  grid-area: c;
}
#in_location {
  grid-area: d;
}

.title {
  grid-area: a;
  font-size: 0.8rem;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: var(--linkedin-color);
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container {
  width: 80%;
  height: calc(100vh - 143px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form {
  width: 60%;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}

.inner_form {
  padding: 30px;
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e";
  gap: 1rem;
}

.label {
  align-self: center;
}

.text_input {
  padding: 0.5rem;
  min-height: 35px;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
}
.text-input:focus {
  outline: var(--infojobs-color);
}

.button {
  grid-area: e;
  transition-duration: 200ms;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--linkedin-color);
  color: white;
  padding: 10px;
}

.button:hover {
  transition-duration: 200ms;
  background-color: var(--infojobs-color);
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}

.button:focus {
  outline: none;
  transition-duration: 200ms;
  background-color: var(--infojobs-color);
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
  box-shadow: 0px 0px 15px -5px #000000;
}
